<h1>Editing user: <%= @user.username %></h1>

<!--
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <label for="user[username]">Username:</label>
  <input type="text" name="user[username]" id="username"> <br>
  <label for="user[email]">Email:</label>
  <input type="text" name="user[email]" id="email"> <br>
  <label for="user[password]">Password</label>
  <input type="password" name="user[password]" id="password"> <br>

  <input type="submit" value="Submit">
</form>

<%= form_tag "/users" do %>
  <%= hidden_field_tag "_method", "patch" %>
  <%= label_tag "user[username]", "Username" %>
  <%= text_field_tag "user[username]" %> <br>
  <%= label_tag "user[email]", "Email" %>
  <%= text_field_tag "user[email]" %> <br>
  <%= label_tag "user[password]", "Password" %>
  <%= password_field_tag "user[password]" %> <br>

  <%= submit_tag "Submit" %>
<% end %>

-->

<%=  form_with model: @user do |form| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <%= msg %> <br>
    <% end %>
  <% end %>
  <%= form.label :username %>
  <%= form.text_field :username %> <br>
  <%= form.label :email %>
  <%= form.text_field :email %> <br>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <br>
  <%= form.submit %>
<% end %>